[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
supervisor = "*"
python-dotenv = "*"
python-dateutil = "*"
pyyaml = "*"
facebook-sdk = "*"
