<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Rezistența.TV{% endblock %}</title>
        <base href="{{ config.SERVER_NAME }}">

        {% block facebook %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link href="static/assets/stylesheets/style.css" media="all" rel="stylesheet" />

        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script type="text/javascript">
var HEADER_HEIGHT = 50;

window.addEventListener("DOMContentLoaded", function() {
    var hamburger = document.querySelector(".hamburger");
    var close = document.querySelector(".close");
    var menu = document.querySelector("menu");

    close.style.display = "none";
    menu.style.display = "none";

    hamburger.addEventListener("click", function(e) {
        e.preventDefault();
        hamburger.style.display = "none";
        menu.style.display = close.style.display = "";
    });

    close.addEventListener("click", function(e) {
        e.preventDefault();
        hamburger.style.display = "";
        menu.style.display = close.style.display = "none";
    });
});
        </script>
        {% block script %}{% endblock %}
        <script type="text/javascript">
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
        </script>
        <header>
            <button class="hamburger">&equiv;</button>
            <button class="close">&times;</button>
            <img class="logo" src="static/logo.png">
        </header>
        <menu>
            {% for episode in episodes %}
            <div class="media">
                <h5 class="mt-0">#{{ episodes|length - loop.index + 1 }} {{ episode.title }}</h5>
                <img class="thumb" src="static/thumbs/{{ episodes|length - loop.index + 1 }}.jpeg" alt="Se încarcă">
                <dl>
                    {% for guest in episode.guests %}
                    <dt>{{ guest.name }}</dt>
                    {%- if guest.profession -%}
                        ,&nbsp;<dd>{{ guest.profession }}</dd>
                    {%- endif -%}
                    {% endfor %}
                </dl>
                <a class="absolute" href="/episod/{{ episodes|length - loop.index + 1 }}"></a>
            </div>
            {% endfor %}
        </menu>
        {% block body %}{% endblock %}
    </body>
</html>
