<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Rezistența.TV{% endblock %}</title>
        <base href="{{ config.SERVER_NAME }}">

        {% block facebook %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
        <link href="static/assets/stylesheets/style.css" media="all" rel="stylesheet" />

        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        {% block script %}{% endblock %}
        <script type="text/javascript">
            var HEADER_HEIGHT = 50;


(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
        </script>
        <header class="header">
            <img class="header__logo" src="static/logo.png">

            <button class="header__control" data-js-menu-control data-control-inactive="&equiv;" data-control-active="&times;"></button>
        </header>
        <menu class="menu" data-js-menu>
            {% for episode in episodes %}
            <a class="menu__item" href="/episod/{{ episodes|length - loop.index + 1 }}">
                <span class="menu__item-thumb">
                    <span class="menu__item-number">#{{ episodes|length - loop.index + 1 }}</span>
                    <img src="static/thumbs/{{ episodes|length - loop.index + 1 }}.jpeg" alt="Se încarcă">
                </span>

                <span class="menu__item-title">{{ episode.title }}</span>
                <dl class="menu__item-details">
                    {% for guest in episode.guests %}
                    <dt data-with="cu " data-and="și ">{{ guest.name }}</dt>
                    {%- if guest.profession -%}
                        ,&nbsp;<dd>{{ guest.profession }}</dd>
                    {%- endif -%}
                    {% endfor %}
                </dl>
            </a>
            {% endfor %}
        </menu>
        {% block body %}{% endblock %}
        <script src="static/assets/javascripts/application.js"></script>
    </body>
</html>
