<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Rezistența.TV{% endblock %}</title>
        <meta name="description" content="Promovăm dialogul între societatea civilă și guvernanți">
        <meta name="keywords" content="emisiune,live,rezistența,tv,360">

        <link rel="icon" href="/favicon.ico" type="image/icon">
        <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">

        {% block facebook %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
        <link href="/assets/css/main.css" media="all" rel="stylesheet" />

        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        {% block script %}{% endblock %}
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% include "components/header.html" %}
        {% include "components/menu.html" %}
        {% block body %}{% endblock %}
        <script src="/assets/js/app.js"></script>
    </body>
</html>
